<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Hands-on on the Data Science Tools
- Using Markdown in Jupyter Notebook
- Using Code in Jupyter Notebook
- Have a better understanding on the Jupyter Notebook itslef

Some of the popular languages that Data Scientists use are:
1. Python
1. R
1. SQL
1. Java
1. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
1. NumPy
1. SciPy
1. Keras

|Data Science Tools |
|-------------------|
|RStudio |
|Apache Spark |
|TensorFlow |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

\$1 = 2 * \frac{1}{2}$

\$\sqrt{16}$ = 4

In [10]:
# This a simple arithmetic expression to mutiply then add integer

In [11]:
a = (3*4)+5
print (a)

17

In [12]:
# This will convert 200 minutes to hours by diving by 60

In [13]:
hours = 200 // 60
print (hours)

3

<h2> Author </h2>
Maria Analia Vinesta Sinaga